@model CBSP.DAL.Sys_Depart

@{
    Layout = "~/Views/Shared/MainPage.cshtml";
    ViewBag.Title = "基础管理";
}

<link rel="stylesheet" href="~/plugins/zTree/css/metroStyle/metroStyle.css" type="text/css">
<script type="text/javascript" src="~/plugins/zTree/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="~/plugins/zTree/js/jquery.ztree.excheck.js"></script>
<SCRIPT type="text/javascript">
		var setting = {
		    data: {
		        simpleData: {
		            enable: true
		        }
		    },
		    callback: {
		        onClick: onTreeClick
		    }
		};
		function onTreeClick(event, treeId, treeNode) {
		    $("#id").val(treeNode.id);
            $("#name").val(treeNode.name);
            $("#parent_id").val(treeNode.pId);

            return false;
		}
		function onNewUnit() {
		    $("#parent_div").css("display", "block");
		    $("#pname").val($("#name").val());
		    $("#parent_id").val($("#id").val());
		    $("#id").val("");
		    $("#name").val("");
		}
		$(document).ready(function(){
		    $.getJSON('/SysDepart/GetNodes', function (zNodes) {
		        $.fn.zTree.init($("#treeDepart"), setting, zNodes);
		    })
       });
		//-->
</SCRIPT>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="widget flat">
            <div class="widget-header bordered-bottom bordered-orange">
                <i class="widget-icon glyphicon glyphicon-plus orange"></i>
                <span class="widget-caption">组织架构</span>
            </div><!--Widget Header-->
            <div class="widget-body">
                <ul id="treeDepart" class="ztree"></ul>
            </div><!--Widget Body-->
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

                <div class="widget flat radius-bordered">
                    <div class="widget-header bordered-bottom bordered-sky">
                        <i class="widget-icon fa fa-calendar sky"></i>
                        <span class="widget-caption">单位信息</span>
                    </div>
                    <div class="widget-body">

                        @using (Html.BeginForm("SaveSysDepart", "SysDepart", FormMethod.Post, new { role = "form" }))
                        {
                      
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.id)
                            @Html.HiddenFor(model => model.parent_id)

                            <div class="row" id="parent_div" style="display:none">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="input-group-addon" for="name">上级单位名称</label>
                                            <input class="form-control text-box single-line" id="pname" name="pname" type="text" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "input-group-addon" })
                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="pull-left">
                                        <input type="button" value="新增" onclick="javascript:onNewUnit();" class="btn btn-primary" />
                                        <input type="submit" value="保存" class="btn btn-primary" />
                                        <input type="submit" value="删除" class="btn btn-danger" />
                                    </div>
                                </div>
                            </div>
                        }

                             
                    </div><!--Widget Body-->
                </div>
        </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

